{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12 py-3 text-center bg-1">
      <h2 class="text-light">
        <strong
          >Ajout d'un compte rendu de conseil d'école / conseil
          d'administration</strong
        >
      </h2>
      <h6 class="text-light"><em>{{asso.name}}</em></h6>
    </div>

    <div class="col-12 py-3 text-center">
      {% load static %}
      <img
        class="rounded mx-auto d-block"
        src="{% static 'meeting.png' %}"
        height="200px"
      />
    </div>

    <div class="col-12 py-3 px-0 text-center">
      <form
        class="bg-1 p-3 text-light"
        method="post"
        enctype="multipart/form-data"
      >
        {% csrf_token %} {{ form.as_p }}
        <input
          class="btn btn-secondary"
          type="submit"
          value="Ajouter ce compte rendu"
        />
      </form>
    </div>
  </div>
</div>

{% endblock %}
