{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12 py-3 text-center bg-1">
      <h2 class="text-light">
        <strong>Modifier l'événement</strong>
      </h2>
      <h6 class="text-light"><em>{{asso.name}}</em></h6>
    </div>

    <div class="col-12 py-3 text-center">
      {% load static %}
      <img
        class="rounded mx-auto d-block"
        src="{% static 'eventnow.png' %}"
        height="200px"
      />
    </div>

    <div class="col-12 py-3 px-0 text-center">
      <form
        class="bg-1 p-3 text-light"
        method="post"
        enctype="multipart/form-data"
      >
        {% csrf_token %} {{ edit_form.as_p }}
        <input
          class="btn btn-secondary"
          type="submit"
          value="Sauvegarder les changements"
        />
      </form>
    </div>

    <div class="col-12 py-3">
      <span></span>
    </div>

    <div class="col-12 py-3 bg-2 text-center">
      <h4 class="text-5">
        <strong>Supprimer définitivement cet event ?</strong>
      </h4>
      <form method="post">
        {{ delete_form }} {% csrf_token %}
        <input class="btn btn-danger" type="submit" value="Supprimer" />
      </form>
    </div>
  </div>
</div>

{% endblock content %}
