{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center bg-1 py-3">
      <h2 class="text-light">
        <strong>Est-ce bien cette association ?</strong>
      </h2>
    </div>

    {% load static %}
    <div class="col-12 py-2">
      <img
        class="rounded mx-auto d-block"
        src="{% static 'checking.png' %}"
        height="200px"
      />
    </div>

    <div class="col-12 py-2 bg-1 text-center">
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-light bg-1">
          <strong>RNA</strong> : {{ tempasso.0 }}
        </li>
        <li class="list-group-item text-light bg-1">
          <strong>Date de création</strong> : {{ tempasso.1}}
        </li>
        <li class="list-group-item text-light bg-1">
          <strong>Nom</strong> : {{tempasso.2}}
        </li>
        <li class="list-group-item text-light bg-1">
          <strong>Nom court</strong> : {{tempasso.3}}
        </li>
        <li class="list-group-item text-light bg-1">
          <strong>Objet</strong> : {{tempasso.4}}
        </li>
        <li class="list-group-item text-light bg-1">
          <strong>Adresse du siege social</strong> :
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-light bg-1">{{tempasso.5}}</li>
            <li class="list-group-item text-light bg-1">{{tempasso.6}}</li>
            <li class="list-group-item text-light bg-1">{{tempasso.7}}</li>
            <li class="list-group-item text-light bg-1">{{tempasso.8}}</li>
            <li class="list-group-item text-light bg-1">{{tempasso.9}}</li>
            <li class="list-group-item text-light bg-1">{{tempasso.10}}</li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="col-12 py-2 bg-1 text-center">
      <form action="verifasso/" method="post">
        {% csrf_token %}
        <!-- pas opti -->
        <input type="hidden" name="number" value="{{tempasso.0}}" />
        <input type="hidden" name="created" value="{{tempasso.1}}" />
        <input type="hidden" name="name" value="{{tempasso.2}}" />
        <input type="hidden" name="shortname" value="{{tempasso.3}}" />
        <input type="hidden" name="objet" value="{{tempasso.4}}" />
        <input type="hidden" name="adress1" value="{{tempasso.5}}" />
        <input type="hidden" name="adress2" value="{{tempasso.6}}" />
        <input type="hidden" name="adress" value="{{tempasso.7}}" />
        <input type="hidden" name="codepostal" value="{{tempasso.8}}" />
        <input type="hidden" name="town" value="{{tempasso.9}}" />
        <input type="hidden" name="pays" value="{{tempasso.10}}" />
        <input
          class="btn btn-success"
          name="btn-submit"
          type="submit"
          value="Oui"
        />
        <input
          class="btn btn-danger"
          name="btn-submit"
          type="submit"
          value="Non"
        />
      </form>
    </div>
  </div>
</div>

{% endblock %}
